.add-article {
  padding: 20px;
  
  .MuiPaper-root {
    border-radius: 12px;
    
  }
  
  .MuiTextField-root {
    .MuiOutlinedInput-root {
      border-radius: 8px;
    }
  }
  
  .MuiFormControl-root {
    .MuiOutlinedInput-root {
      border-radius: 8px;
    }
  }
}


