.philosopher-card {
  width: 100%;

  .MuiCardContent-root {
    .MuiTypography-h5 {
      font-size: 2.5rem !important;
    }

    .philosopher-card__description {
      font-size: 1.8rem !important;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 8.5rem;
      cursor: default;
    }
  }

  .MuiCardActions-root {
    .MuiButton-root {
      font-size: 1.6rem !important;
    }
  }
}
