// Custom PhilosopherCard styles
.MuiCard-root {
  @media(max-width: 768px) {
   max-width: 400px !important;
  }
  .MuiCardContent-root {
    .MuiTypography-h5 {
      font-size: 2.5rem !important;
    }
    
    .MuiTypography-body2 {
      font-size: 1.8rem !important;
    }
  }
  
  .MuiCardActions-root {
    .MuiButton-root {
      font-size: 1.6rem !important;
    }
  }
}

