@import "../../../../styles/mixins";

.add-article {
  @include articles-page-padding;

  .MuiPaper-root {
    border-radius: var(--radius-md);
  }

  .MuiTextField-root {
    .MuiOutlinedInput-root {
      border-radius: var(--radius-sm);
    }
  }

  .MuiFormControl-root {
    .MuiOutlinedInput-root {
      border-radius: var(--radius-sm);
    }
  }
}
