.profile__content-paper {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 16px;
}

.profile__content-title {
  text-align: center;
}

.profile__stats-value {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 4px;
}
