@import "./styles/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-text-body);
}

html {
  font-size: 10px;
}

// Custom TextField styles
.MuiTextField-root {
  .MuiFormHelperText-root {
    font-size: var(--font-size-md) !important;
  }

  .MuiInputBase-input {
    font-size: var(--font-size-md) !important;

    &:focus {
      border-color: var(--color-primary) !important;
    }
  }
}

// Custom InputLabel styles
.MuiInputLabel-root {
  font-size: var(--font-size-md) !important;
  margin-bottom: 10px !important;
}

// Custom Button styles
.MuiButton-root {
  font-size: var(--font-size-md) !important;
  background-color: var(--color-primary) !important;
  color: var(--color-text-on-dark) !important;
}

.MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: var(--color-primary) !important;
}

.MuiButtonBase-root {
  border: none !important;
}
