.articles {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
}

.articles-button {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  background-color: #534e46 !important;
  color: #ffffff !important;
  align-self: flex-start;
}
.no-articles-found {
  font-size: 2rem !important;
  font-weight: 700 !important;
  color: #534e46 !important;
  text-align: center;
  margin-top: 20px;
  background-color: #302817 !important;
  width: fit-content ;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  color: rgb(179, 172, 172) !important;
}