.auth-section {
  display: flex;
  gap: var(--space-xs);
  align-items: center;
}

.auth-section__link {
  display: contents;
}

.auth-section__btn {
  font-size: var(--font-size-md) !important;
  background-color: var(--color-primary) !important;
  align-self: center;
}

.auth-section__avatar {
  background-color: var(--color-primary) !important;
  margin: auto var(--space-sm);
  width: var(--header-avatar-size) !important;
  height: var(--header-avatar-size) !important;
  cursor: pointer;
}

.auth-section-mobile {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: var(--radius-sm);
  margin-bottom: var(--radius-sm);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-hover);
  }

  &__icon {
    color: var(--color-primary);
    margin-right: var(--space-sm);
  }
}
