@import "../../../../styles/mixins";

.header {
  display: none;

  @include md-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-sm) var(--space-lg);
  }
}

.header__nav {
  flex: 1;
}

.header__list {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__auth-item {
  display: flex;
  gap: var(--space-xs);
}

.header__image-wrapper {
  display: flex;
  align-items: center;
}
