@import "../../../../styles/mixins";

.header-sm-screen {
  display: none;

  @include md-down {
    display: block;
  }
}

.mobile-app-bar {
  background-color: transparent !important;
  direction: ltr;
}
